.classes, .cart_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 40px;
    padding:20px ; 
    justify-content: space-evenly; 
  }

.class-container , .cart_item{
    /* flex: 1 1 500px;  */
    max-width: 450px; /* Sets a max width for each class box */
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    text-align: center;
  }

.class-container img {
    max-width: 60%;  
    max-height: 50%; 
}

.class-container h2, a
.class-container p {
    margin: 10px 0; 
}

input[type="radio"] {
    display: none;
}

.sort-label {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    text-align: center;
}

.sortIcon {
    width: 25px;
    vertical-align: middle;
}

/* Change border color and background when radio button is checked */
input[type="radio"]:checked + .sort-label {
    border-color: #007bff; 
    background-color: #e0f0ff; 
}

header .searchBox {
    margin-left: auto;
    height: 50px;;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}


header button {
    margin-left: auto;
    height: 50px;
}

.checkoutTitle {
    display: flex;               
    justify-content: space-between;   
    padding: 20px;              
    border-top: 1px solid #ccc; 
}

.orderCont {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    border: 3px solid #c0c1c4;
    padding: 15px;
    margin: 0 auto;
}

.form-elements, .form-elements label, .form-elements input {
    width: 100%; 
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box; 
}

.emptyCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
    background-color: #f8f9fa; 
    border: 2px dashed #dee2e6; 
    border-radius: 10px;
    color: #6c757d; 
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    margin: 20px auto;
    max-width: 400px;
}
